/*Nav-bar*/


/*Nav-bar*/


body{
    
    background-color: white;
    margin: 0;
    padding: 0;

  }
.before-nav{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #707070;
    border-style: groove;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    font-family: poppins,serif;
      }
#emailTop{
    color: #38ADA9;
      }
#info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      

    } 
.nav-bar{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    width: 100%;
    margin-top: 10px;
    
    font-family: poppins, serif;
    justify-content: space-evenly;
    align-items: center;
  }





.nav-bar .logo{
    width: 207px;
    height: 58px;
    margin-left: 30px;
  } 
.nav-bar ul{
  width: 500px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
  
  }
.nav-bar .menu{
  width: 685px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
#youArehere{
  color: #38ADA9 ;
  }
#req{
    border-radius: 35px;
    background-color: #38ADA9;
    padding: 8px;

    
    margin: auto;
  }
#req a {
    color: honeydew;
    text-decoration: none;
    text-align: center;

  } 
.nav-bar ul a{
   text-decoration: none;
   color: gray;
   text-align: center;
   font-family: Poppins;

 
  }
.nav-bar ul a:hover{
   color: #38ADA9;
  }



/*Centre*/

.all{
  margin-top: 10px;
}
.all .imgtxt img{
  width: 100%;
  height: 600px;
}

.all .imgtxt .text h1{
  font-size: 80px;
  position: relative;
  margin-top: -377px;
  color: #fff;
  text-align: center;
  font-family: Segoe Script, serif;
}
.formcnt{
  margin: 0 400px 0 400px;
}
.formcnt .centre {
  margin: 400px 0 0 0;
}
.formcnt .centre .txt{
  font-size: 25px;
}
.formcnt .centre .txt h1, .centre .txt h3{
  font-family: Flamante Round, serif;
}
.formcnt .centre .txt h2{
  font-family: Harlow Solid, serif;
  color: #38ADA9;
}




.formcnt .para p{
  font-family: Poppins, serif;
  margin: 60px 0 60px 0;
}
.formcnt .para #sub button{
  font-family: Poppins, serif;
  font-size: 30px;
  border-radius: 13px; 
  background-color: #38ADA9;
  text-align: center;
  color: #fff;
  border:none;
  margin-left: 300px;
  width: 20%;
  height: 60px;
    
    
  }


.formcnt .para #sub a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 30px;

  }
.allinp{
    align-items: center;
  }
.allinp .input input{
  border:none;
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #707070;
  margin:0 0 60px 0;
  font-family: Poppins, serif;
}
.allinp .input textarea{

  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #707070;
  margin:30px 0 30px 0;
  font-family: Poppins, serif;
}
.warning{
  color: red;
  font-family: Poppins, serif;
  display: none;
  margin: -60px 0 60px 0;
}




/*footer*/
.footer{
  display: flex;
  justify-content: space-around;
  font-family: poppins, serif;
  margin: 200px 200px 30px 200px; 
}
.footer .service ul{
  list-style-type: none;
}
.footer .service ul li a{
  color: #000;
  text-decoration: none;
}
.Contact{
  font-family: poppins, serif;
  font-size: 10px;
}






.show-menu-btn, .hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn{
  float: right;

}
.show-menu-btn i{
  line-height: 100px;

}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

@media screen and (max-width: 500px){
  .show-menu-btn, .hide-menu-btn{
    display: block;
  }


  .menu .mn{
    position: fixed;
    width: 100%;
    height: 80vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
  }
  .menu .mn ul a{
    display: block;
    padding: 20px;
    
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu .mn{
    right: 0;
    z-index: 1;
  }
  .before-nav{
    display: none;
  }
  
  .nav-bar{
      justify-content: space-between;
      margin:0;
    padding: 0;
border-style: groove;
      border-top: hidden;
      border-left: hidden;
      border-right: hidden;
  }
  .nav-bar .logo{
    margin: 0;
  }
  #req{
    position: relative;
    margin-top: -75px;
    margin-right: 44px;
  }
  .all{
  margin-top: -1px;
  }
  .all .imgtxt img{
  width: 100%;
  height: 256px;
  }
  .all .imgtxt .text h1{
  font-size: 33px;
  position: relative;
  margin-top: -154px;
  text-align: center;
  }

  .formcnt .para #sub button{
    width: 45%;
    height: 60px;
    margin-left: 98px;
    
  }
  
  .formcnt{
    margin: 0 50px;
  }
  .formcnt .centre{
    margin: 150px 0 0 0;
  }
  .formcnt .centre .txt{
    font-size: 20px
  }
  .formcnt .para a{
    font-size: 10px;
  }
  

  
  
  .footer{
    margin:50px 50px 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
  



/*Centre*/


/*footer*/
